{% extends "base.html" %}

{% block body %}
<h1>Analysis ({{ res['analysisName'] }})</h1>

<div id="chart"></div>
<script>
  var x = ['x'];
  var price = ['price'];

  var label = ['x'].concat({{ res['label'] }});
  /*var label = ['x'];
  var label_tmp = {{ res['label'] }};
  for(var i = 0; i < label_tmp.length; i++){
    label.push(String(Math.exp(label_tmp[i])))
  };*/
  var val = ['value'].concat({{ res['val'] }});

  var chart = c3.generate({
    data: {
      x: 'x',
      columns: [
        label,
        val
      ],
      axes: {
        val: 'y',
      },
      type: 'bar',
    },
    axis: {
      x: {
        type: 'category'
      }
    },
    grid: {
      y:{
        show : true,
        //lines : [{value:0}]
      }
    },
    point: {
      show: false // ポイントの表示
    },
    subchart: {
      show: false
    },
    zoom: {
      enabled: true
    },
    size: {
      height: 300
    },
  });
</script>

{% endblock %}
