<!DOCTYPE html>
<html>
<head lang="ja">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skyblue.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/c3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/d3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/c3.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/funcs.js') }}"></script>

</head>
<body class="color-main">
<header>
  <div class="title">
    <a href="/"><span class="icon-graph1"></span>Simulator</a>
  </div>
</header>
<nav class="globalNav bg-light">
  <ul>
    <li><span>Prepare</span>
      <ul class="globalNav-pulldown">
        <li><a href="/prepare/event/">Event</a></li>
        <li><a href="/prepare/dayData/">Day Data</a></li>
        <li><a href="/prepare/analysisDayData/">Analysis Day Data</a></li>
        <li><a href="/prepare/dayHighLow/">Day High Low</a></li>
        <li><a href="/prepare/dayOpenClose/">Day Open Close</a></li>
        <li><a href="/prepare/dayOpenCloseAbs/">Day Open Close(ABS)</a></li>
        <li><a href="/prepare/dayVolume/">Day Volume</a></li>
      </ul>
    </li>

    <li><span>Reservation</span>
      <ul class="globalNav-pulldown">
        <li><a href="/reservations/">Index</a></li>
        <li><a href="/reservations/add/">Add</a></li>
        <li><a href="/reservations/delete/">Delete</a></li>
      </ul>
    </li>

    <li><span>Simulation</span>
      <ul class="globalNav-pulldown">
        <li><a href="/simulation/">Go</a></li>
        <li><a href="/simulation/kill/">Kill</a></li>
      </ul>
    </li>

    <li><span><a href="/results/">Result</a></span>
    </li>

    <li><span><a href="/analyses/">Analysis</a></span>
    </li>
  </ul>
</nav>

{% block body %}
{% endblock %}

<footer class="">
  <ul>
    <li><a href="https://www.dukascopy.com/swiss/english/marketwatch/historical/">Dukascopy historycal data</a></li>
    <li><a href="https://www.fxpro.co.uk/news/economic-calendar">FxPro - economic calendar</a></li>
    <li><a href="/reservations/">Reservations</a></li>
    <li><a href="/reservations/add/">Reservation Addition</a></li>
    <li><a href="/reservations/delete/">Reservation Deletion</a></li>
    <li><a href="/simulation/">Simulation</a></li>
    <li><a href="/simulation/kill/">Simulation Killer</a></li>
    <li><a href="/results/">Results</a></li>
  </ul>
</footer>

</body>
</html>