{% extends "base.html" %}

{% block body %}
<h1>Creation ({{ res['obj'] }})</h1>
<form action="/prepare/{{ res['obj'] }}/" method="post">
  <select class="form-control" name="whichData">
  {% for d in res['dataList'] %}
    <option value="{{ d }}">{{ d }}</option>
  {% endfor %}
  </select>

  <p>{{ res['optionText'] }}</p>
  {% for i in range(res['optionNum']) %}
    <input class="form-control" type="text" name="option_{{ i }}">
  {% endfor %}

  <button class="btn" type="submit">Create</button>
</form>
{% endblock %}
