{% extends "base.html" %}

{% block body %}
<h1>Reservation</h1>
<form action="/reservations/" method="post">
  <table class="table table-bordered">
    <tr>
      <th>Use</th>
      <th>条件コード</th>
      <th>条件名</th>
      <th>条件</th>
      <th>備考</th>
    </tr>

    <!-- Currency / Year-->
    <tr>
      <td colspan="5" class="bg-main">Currency / Year</td>
    </tr>

    <tr>
      <td colspan="5">
        <select class="form-control" name="currencyYear">
        {% for d in res['dataList'] %}
          <option value="{{ d }}">{{ d }}</option>
        {% endfor %}
        </select>
      </td>
    </tr>

    <!-- Buy -->
    <tr>
      <td colspan="5" class="bg-main">Buy</td>
    </tr>
    {% for i in res['condition']['b'] %}
    <tr>
      <td>
        <label class="fancy-checkbox">
          {% if 'b' + i in res['defVal'] %}
          <input name="buy_{{ i }}" type="checkbox" value="code" checked><span></span>
          {% else %}
          <input name="buy_{{ i }}" type="checkbox" value="code"><span></span>
          {% endif %}
        </label>
      </td>
      <td>{{ i }}</td>
      <td>{{ res['condition']['b'][i]['name'] }}</td>
      <td>
      {% for argument_count in range(res['condition']['b'][i]['argument_count']) %}
        {% if 'b' + i in res['defVal'] %}
        <input name="buy_{{ i }}_arg{{ argument_count }}" class="form-control" type="text" style="width:100%" value="{{ res['defVal']['b' + i][argument_count] }}">
        {% else %}
        <input name="buy_{{ i }}_arg{{ argument_count }}" class="form-control" type="text" style="width:100%">
        {% endif %}
      {% endfor %}
      </td>
      <td>{{ res['condition']['b'][i]['description'] }}</td>
    </tr>
    {% endfor %}

    <!-- Sell -->
    <tr>
      <td colspan="5" class="bg-main">Sell</td>
    </tr>
    {% for i in res['condition']['s'] %}
    <tr>
      <td>
        <label class="fancy-checkbox">
          {% if 's' + i in res['defVal'] %}
          <input name="sell_{{ i }}" type="checkbox" value="code" checked><span></span>
          {% else %}
          <input name="sell_{{ i }}" type="checkbox" value="code"><span></span>
          {% endif %}
        </label>
      <td>{{ i }}</td>
      <td>{{ res['condition']['s'][i]['name'] }}</td>
      <td>
      {% for argument_count in range(res['condition']['s'][i]['argument_count']) %}
        {% if 's' + i in res['defVal'] %}
        <input name="sell_{{ i }}_arg{{ argument_count }}" class="form-control" type="text" style="width:100%" value="{{ res['defVal']['s' + i][argument_count] }}">
        {% else %}
        <input name="sell_{{ i }}_arg{{ argument_count }}" class="form-control" type="text" style="width:100%">
        {% endif %}
      {% endfor %}
      </td>
      <td>{{ res['condition']['s'][i]['description'] }}</td>
    </tr>
    {% endfor %}

  </table>
  <button class="btn" type="submit">Reserve</button>
</form>


{% endblock %}
