{% extends "base.html" %}

{% block body %}
<h1>Simulation</h1>

<span class="color-error">{{ res['msg'] }}</span>

<p>Now Processing : {{ res['simulatingProcessNum'] }}</p>

<h2 class="color-success">Normal</h2>

<form action="/simulation/" method="post">
  <button class="btn" type="submit">Run</button>
</form>


<h2 class="color-success">Relation</h2>

<form action="/simulation/relate/" method="post">
<ul>
  {% for i in res['reservation'] %}
  <li><a href="/reservations/{{ i }}">{{ i }}</a></li>
  {% endfor %}
</ul>


  <button class="btn" type="submit">Run</button>
</form>


{% endblock %}
